@font-face {
	font-family: "Poppins-Light";
	src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
	font-family: "Poppins-Black";
	src: url("./fonts/Poppins-Black.ttf");
}

@font-face {
	font-family: "Poppins-Bold";
	src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins-Thin";
	src: url("./fonts/Poppins-Thin.ttf");
}

@font-face {
	font-family: "Poppins-Extra-Bold";
	src: url("./fonts/Poppins-ExtraBold.ttf");
}

@font-face {
	font-family: "serif";
	src: url("./fonts/EditorialNew-Regular.ttf");
}

.serif {
	font-family: "serif";
}

.black {
	font-family: "Poppins-Black";
}

.regular {
	font-family: "Poppins-Regular";
}

.thin {
	font-family: "Poppins-Thin";
}

.bold {
	font-family: "Poppins-Bold";
}


.extra-bold {
	font-family: "Poppins-Extra-Bold";
}

.alert {
	color: #f11a7b;
}