.row {
	display: flex;
	align-items: center;
}

.body {
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.ml-75 {
	margin-left: 7.5%;
}

.mt-50 {
	margin-top: 50px;
}

.mt-100 {
	margin-top: 100%;
}

.mt-200 {
	margin-top: 200px;
}

.w-90 {
	width: 90%;
}

.w-100 {
	width: 100%;
}

.main-container {
	position: relative;
	width: 100%;
	height: fit-content;
	margin: 0;
}

.relative-container {
	position: relative;
}

.body-container {
	width: 100%;
	padding: 0 4.5vw;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body {
	font-family: "Poppins-Light";
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.fab {
	position: fixed;
	left: 30px;
	bottom: 30px;
	z-index: 10000;
}

.drawer {
	h3 {
		margin-left: 20px;
		margin-bottom: 0;
	}
}

h1 {
	margin: 0;
	padding: 0;
}
