.navbar {
	position: fixed;
	height: 90px;
	width: 100vw;
	z-index: 100000000000000;
	border-bottom-left-radius: 50px;

	background: transparent;
	background-color: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	.nav-container {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: inherit;

		.nav-content {
			width: 100%;
			position: absolute;
			display: flex;
			top: 50%;
			transform: translateY(-50%);

			#logo {
				height: 50px;
				width: 50px;
				background-size: cover;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			#logo-circle {
				margin-left: 5px;
				background-color: white;
				border-radius: 50%;
				height: 50px;
				width: 50px;
				position: relative;
			}
		}
	}
}
