.schedule-table-row {
	min-width: 800px;
	max-width: 3000px;
	width: 100%;

	.schedule-table-slot {
		min-height: 30px;
		height: 12.5vh;
		position: relative;
		border-bottom: 2px solid #F5F6FA;
		border-right: 2px solid #F5F6FA;
		background-color: white;

		.slot-content-container {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 12px;
		}

		.slot-content {
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 0.8rem;
			text-align: center;
		}

		.lecturer {
			background-color: #1976d2;
			color: white;
		}

		.attended {
			background-color: #22A699;
			color: white
		}

		.absent {
			background-color: #F24C3D;
			color: white
		}

		.not-yet {
			background-color: #EEE2DE;
		}
	}
}

.control-row:not(:last-child) .schedule-btn {
	padding: 10px 20px;
	margin-left: 20px;
}

.control-row {
	margin-bottom: 20px;
	display: flex;
	float: right;

	.schedule-date-picker {
		border-top: 2px solid #F5F6FA;
		width: 400px;
	}
}

.schedule-table {
	h2 {
		margin: 0;
		margin-bottom: 10px;
	}

	p {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.date-row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 10px;

		.chip {
			background-color: #1976d2;
			color: white;
			padding: 0 20px;
			border-radius: 20px;
			font-family: "Poppins-Thin";
		}
	}
}

.item-list-date {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
	padding-left: 12px;

	span {
		font-family: "Poppins-Bold";
	}
}